h2{
    color: #d56f24;
}
span{
    color: #9d6f24;
}
h4{

}
#pets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px #888888;
}
.card img{
    width: 100%;
    border-radius: 25px;
}
h4 {
  text-align: right;
  color: #3c787e;
}